<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/ressources/styles.css">
    <script src="/ressources/index.js"></script>
    <title>{{author_name}} | MD_Light</title>
    <link rel="icon" href="/ressources/feather.svg" type="image/x-icon">
</head>

<body>

    <div class="top_bar"><a class="go_home" href="/"><img class="logo" src="/ressources/logo.svg"></a>

        <form action="/search" method="get">
            <input autocomplete="off" id="search_box" type="text" name="query" placeholder="Search" required>
        </form>
    </div>
    
    <h1 class="author_name">{{author.name}}</h1>
    <div class="works" id="works">
        {% for title in titles %}
        <div class="title">
            <a class="title-image" href="/manga/{{title.id}}"><img src="{{proxy_url}}{{title.cover}}" alt="image not found">
                <div class="manga-title">{{manga.name}}</div>
            </a>
        </div>
        {% endfor %}
    </div>

</body>

</html>