<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/ressources/styles.css">
    <script src="/ressources/index.js"></script>
    <title>Home | MD_Light</title>
    <link rel="icon" href="/ressources/feather.svg" type="image/x-icon">
</head>

<body>

    <div class="top_bar"><a class="go_home" href="/"><img class="logo" src="/ressources/logo.svg"></a>

        <form action="/search" method="get">
            <input autocomplete="off" id="search_box" type="text" name="query" placeholder="Search" required>
        </form>
    </div>
    <h1>Popular</h1>

    <div class="popular">
        {% for title in popular_manga %}
        <div class="popular-manga"><a href="/manga/{{title.id}}"><img src="/proxy/images/{{title.cover}}"
                    loading="lazy">{{title.name}}</a>
        </div>
        {% endfor %}


    </div>

    <div class="new-release">
        <h1>New Releases</h1>

        {% for chapter in new_chapters %}
        <div class="new_chapter"><a class="chapter"
                href="/manga/{{chapter.manga_id}}/{{chapter.chapter_id}}">{{chapter.chapter_name}}
                {{chapter.language.lang}}</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>