<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/ressources/styles.css">
    <script src="/ressources/index.js"></script>
    <title>Reading {{chapter.name}} | MD_Light</title>
</head>

<body>
    <link rel="icon" href="/ressources/feather.svg" type="image/x-icon">
    <div class="top_bar"><a class="go_home" href="/"><img class="logo" src="/ressources/logo.svg"></a>
        <form action="/search" method="get">
            <input autocomplete="off" id="search_box" type="text" name="query" placeholder="Search" required>
        </form>
    </div>

<h1>{{chapter_name |default (value="")}}</h1>

    {% if has_prev %}
    <a href="/manga/{{manga_id}}/{{prev_chap.chapter_id}}/{{prev_chap.chapter_number}}/{{prev_chap.language.lang}}">prev chapter</a>
    {% endif %}

    {% if has_next %}
    <a href="/manga/{{manga_id}}/{{next_chap.chapter_id}}/{{next_chap.chapter_number}}/{{next_chap.language.lang}}">next chapter</a>
    {% endif %}

    {% for page in chapter.pages %}
    <div class="page_list" onclick="goFullscreen()">
        <img class="chapter_page" src="{{proxy_url}}{{page}}">

    </div>

    {% endfor %}


</body>

</html>