<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/ressources/styles.css">
    <script src="/ressources/index.js"></script>
    <title>Search | MD_Light</title>
</head>

<body>
    <link rel="icon" href="/ressources/feather.svg" type="image/x-icon">
    <div class="top_bar"><a class="go_home" href="/"><img class="logo" src="/ressources/logo.svg"></a>
        <!-- <div class="search_bar"> -->
        <!-- <input id="search_box" action="search()" type="text" name={{query}} required="">
            <button
                type="button" onclick="search()">Search</button></div> -->

        <form action="/search" method="get">
            <input autocomplete="off" id="search_box" type="text" name="query" placeholder="Search" value={{query}}
                required>
        </form>
    </div>
    <!-- </div> -->
    <!-- <h1>search e</h1> -->
    <h2>{{manga_number}} titles</h2>
    <div class="search_list works">
        {% for manga in manga_result %}

        <div class="manga_result title"><a href="manga/{{manga.id}}"><img
                    src=/proxy/images/{{manga.cover}} loading="lazy">
                <div class="manga-title">{{manga.name}}</div>
            </a></div>
        {% endfor %}

    </div>
    <h2>{{author_number}} authors</h2>
    <div class="search_author">

        {%for author in author_list %}
        <div class="author_result"><a href="/author/{{author.id}}">
                <img class="profile" src="/ressources/profile.svg">
                {{author.name}}</a></div>
        {% endfor %}
    </div>

</body>

</html>