body {
  background-color: black;
  font-size: 1.2em;
  color: whitesmoke;
  max-width: 100%;
}

a {
  color: aqua;
  text-decoration: none;
}

.manga_content {
  /* display: flex; */
}

img.chapter_page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}


a.chapter_link:link {
  color: rgb(255, 182, 0);
}

/* visited link */
.chapter_link:visited {
  color: grey;
}


.chapter_item {
  justify-content: space-between;
  margin: 1em;
}

.top_bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

img.profile {
  height: 1.5em;
  vertical-align: middle;
}

.profile {
  margin: .5em;
}


#search_box {
  padding: .5em;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 1.2em;
  border-radius: .5em;
  background-color: rgb(60, 60, 60);
  color: whitesmoke;
}


.author_list {
  color: rgb(255, 183, 0);
}

.author {
  vertical-align: middle;
}

.works {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

.title {
  width: 15em;
  text-align: center;
  /* margin: 1em; */
  transition: transform .3s;
  font-size: 1.15em;
}


.popular {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 75%;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  scrollbar-width: none;
  border-radius: 1em;
  margin-bottom: 5em;
  margin-top: 3em;
}

.popular-manga {
  /* border-bottom: 1px solid white; */
  margin: .6em;
}

/*turn on or off to change the popular manga ui design*/
/* .popular-manga{
  margin-right: 100%; 
  padding: 1rem;
  scroll-snap-align: start;

} */

.popular-manga>a>img {
  border-radius: .3em;
  height: 20em;
  max-width: 20em;
  object-fit: cover;
}

img.cover_art {
  margin-left: 1em;
}


.new-release {
  margin-bottom: 10em;
}

.new_chapter,
.new-release {
  background-color: gray;
  margin: .5em;
  padding: .5em;
  border-radius: .3em;
  align-self: center;
}

.manga_info {

  margin-left: 3em;
  margin-right: 3em;
}

.row_1 {
  display: flex;
  /* vertical-align: middle; */
  /* align-items: center; */
  /* text-align: center; */
  align-content: center;

  /* flex-wrap: nowrap; */

}

.row_2 {
  display: flex;
  margin-top: 1em;
  /* flex-wrap: wrap-reverse; */
  /* flex-wrap: wrap-reverse; */
}

.author {
  width: max-content;
}

.manga_title {
  margin-left: 1em;
  font-size: 3em;
}



img.manga_cover:hover {
  transform: scale(1.2);
}
img.manga_cover {
  border-radius: 3%;
  transition: .5s;
}

.description {
  margin-left: 1em;
  /* width: max-content; */
}

img.logo {
  height: 7em;
}

.go_home {
  align-items: center;
}

div.bottom_bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

img.feather {
  width: 10em;
}

/* loading spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}